<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECDSA Digital Signature Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/p256">p-256 Curve</a></li>
            <li><a href="/p384">p-384 Curve</a></li>
            <li><a href="/p521">p-521 Curve</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Contact</h1>
        <p>You can reach me at: <a href="mailto:mis35@mail.aub.edu">mis35@mail.aub.edu</a></p>
    </div>
</body>
</html>